# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~
.gitignore
amplifier/bin
amplifier/TAGS
amplifier/tests/bin
amplifier/tests/TAGS
/amplifier/src/#*#
/amplifier/src/.#*
/amplifier/tests/Mp3Source/TAGS
/amplifier/tests/Mp3Source/bin/Mp3SourceTests
/amplifier/tests/RemoteListener/TAGS
/amplifier/tests/RemoteListener/bin/RemoteListenerTests
/amplifier/tests/Mp3Source/bin/RemoteListenerTests
