# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~
.gitignore
amplifier/bin
amplifier/TAGS
amplifier/tests/bin
amplifier/tests/TAGS
